<mat-toolbar class="my">
  <mat-icon class="menuicon pointer" (click)="onToggleSidebar()">menu</mat-icon>
  <h1>Sidenavigation</h1>
  <div>
    <a routerLink="/home/chat" routerLinkActive="router-link-active">
      <mat-icon class="pointer">message</mat-icon>
    </a>

    <mat-icon class="pointer" [matMenuTriggerFor]="profileDropdown"
      >settings</mat-icon
    >
    <mat-menu #profileDropdown="matMenu">
      <a mat-menu-item>Profile</a>
      <a mat-menu-item>Account</a>
    </mat-menu>
  </div>
  <!-- <ng-content [selector]></ng-content> -->
</mat-toolbar>
