.dialog-content {
  padding: 20px;
}

.user-detail {
  margin-bottom: 15px;
  font-size: 16px;
}

.user-detail strong {
  color: #ba005c;
}

.dialog-actions {
  justify-content: center;
  display: flex;
  padding: 10px;
}

h3 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
