h3 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.add-content {
  padding: 15px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.dialog-actions {
  justify-content: flex-end;
  padding: 10px 20px;
}

.dialog-actions button {
  margin-left: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}
.mat-form-field-error {
  margin-bottom: 10px;
}
