.edit-profile-form{
    display: block;
    padding: 20px;
}

.full-width{
    width: 100%;
}
h4 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .actions {
    display: flex;
    justify-content: center;
  }